@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fffdde;
}

.wrapper {
  width: 80%;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem 0rem;
}

.wrapper .title h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.content .main {
  margin: 1rem 0rem;
  font-size: 2rem;
}

.content .main p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

div .product-title {
  display: flex;
  align-items: center;
}

div .product-title label {
  font-size: 1.2rem;
}

div .product-title input {
  font-size: 1.2rem;
}

#product_title {
  border: none;
  outline: none;
  margin-left: 0.4rem;
}

.content .main textarea {
  width: 100%;
  padding: 0.6rem;
  height: auto;
  font-size: 1.2rem;
  resize: none;
  margin-top: 0.4rem;
}

.category {
  display: flex;
  justify-content: space-between;
}

.predict-btn {
  padding: 0.2rem 0.6rem;
  margin-left: 1.4rem;
  border: none;
  color: white;
  background: #3d7af3;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transform: translateY(1.9rem);
  height: 2rem;
  width: 6rem;
}

.predict-btn:hover {
  background: #548cff;
}

.category-box {
  flex: 1;
}

.category-box h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.category-list {
  display: flex;
  align-items: center;
  min-height: 3rem;
  border: 1px solid #a2a2a2;
  border-radius: 0.3rem;
  flex-wrap: wrap;
  padding: 0.3rem 0.6rem;
  margin-top: 0.5rem;
  line-height: 2rem;
}

.category-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0.2rem 0.4rem;
  font-size: 1rem;
  height: 2rem;
  padding: 0.2rem 0.4rem;
  background-color: #f2f2f2;
  border-radius: 0.3rem;
}

.category-list li span:nth-child(2) {
  display: flex;
  margin-left: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #929292;
  background: #e2e2e2;
  cursor: pointer;
}

.category-list input {
  height: 2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  flex: 1;
  margin-left: 0.5rem;
}
